*{
  font-size: 14px
}
.container{
  /*overflow:hidden;*/
}
#model1,#model2,#model3,#userManage{
  background: -webkit-gradient(linear, left top, left bottom, from(#7B8EA7), to(#90AEBD));
  background: linear-gradient(#7B8EA7, #90AEBD);
  min-height: 700px
}
.popup{
  max-width: 680px;
  max-height: 550px;
  width: 80%;
  height: 80%;
  position: fixed;
  top:50%;
  left: 50%;
}
.popup header{
  background-color: #2B77D5;
  width: 100%;
  padding: 20px;
}
.popup.show{
  display: block;
}
.popup>div{
  background-color: #EAEDED!important;
  width: 100%;
  height: 100%;
  /*color: red;*/
  position: relative;
  top:-50%;
  left: -50%;
  border-radius: 1%;
  /*overflow-y: auto;*/
  overflow: hidden;
  /*border: 1px solid red;*/
  /*padding:20px;*/
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white
  /*display: none*/
}
.whiteText{
  color: white
}
.closeWindow{
  color: white;
  font-size: 30px;
  position: absolute!important;
  right: 10px;
  top: 0;
  margin:0!important;
  background-color: transparent;
  cursor: pointer;
  color: white
}

.vague {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
  pointer-events: none;
}
.cropBox{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute!important;
  left: 0;
  top: 0;
  z-index: 100
}
.pageBox{
  text-align: center;
}
.ivu-page{
  display: inline-block;
}
button{
  outline: none!important
}
.inputGroup>input{
    width: 100%;
    /*max-width: 150px;*/
    height: 38px;
    border: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    /*background-color: red;*/
    display: inline-block;
    outline: none;
    overflow: hidden;
    text-indent: 0.5em
  }
input{
  outline: none
}
p{
  margin-bottom: 10px;
  font-size: 14px
}
.btn{
  font-weight: 900
}
@media only screen and (max-width: 1208px){
    .popup{
      width: 80%;
      height: 80%
    }
  }